<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
  
    <div class="flex-row-reverse">
      <form class="login-form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
        <p class="create-account-link">Don't have an account? <a href="/auth/register">Create Account</a></p>
      </form>
    </div>
    <p class="go-back-link"><a href="/"><< Go Back to Homepage</a></p>
  </div>
</body>
</html>
