<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rhythm Reviews</title>
  {{!--
  <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="{{stylesPath}}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="homepage-background">
  <header>
    <!-- ...your header content... -->
  </header>
  <main>


    <!-- Add a "Create Account" link here -->

    <div class="search-container">

      <div>
        {{{body}}}
      </div>
    </div>
  </main>
  <footer>
    <!-- ...your footer content... -->
  </footer>
</body>
{{!-- <script src="/public/js/search.js"></script> --}}
</html>