<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rhythm Reviews</title>
  <link rel="stylesheet" type="text/css" href="{{stylesPath}}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-500 bg-cover bg-no-repeat bg-fixed">
  <header>
    <img src="/public/assets/logo-5.jpg" alt="Rhythm Reviews" class="logo">
  </header>
  <main>

    <div class="search-container">

      <div>
        {{{body}}}
      </div>
    </div>
  </main>
</body>

</html>