<body class="homepage-background">
  <header>
    <!-- ...your header content... -->
  </header>
  <main>

    <div class="search-form-container">
      <form id="search-form" class="search-form" action="/api/artist-search" method="GET">
        <input class="search-input" type="text" name="artistName" placeholder="Search...">
        <button class="search-button border-2 border-white hover:bg-blue-700" type="submit">Search</button>
      </form>
    {{!-- </div> --}}
    <div class="search-container"></div>
      <div class="login-create-account-link">
        {{#if logged_in}}
        <p><a href="/auth/profile">Profile</a></p>
        <p><a href="/auth/logout">Logout</a></p>
        {{/if}}
        {{#unless logged_in}}
        <p class="float text-white hover:text-blue-700 text-center underline underline-offset-1 ml-14"><a href="/auth/login">Login</a></p><p class="text-blue-600"></p><p class="float text-white text-center">or</p></p><p class="text-white hover:text-blue-700 underline underline-offset-1"><a href="/auth/register">Create Account</a></p>
        {{/unless}}
      </div>

      <div>
        {{{body}}}
      </div>
    </div>
  </main>
  <footer>
    <!-- ...your footer content... -->
  </footer>
</body>

{{!-- <!-- add scripts -->
{{#if userLoggedIn}}
<script src="/js/logout.js"></script>
{{/if}} --}}
</html>