<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rhythm Reviews</title>
  {{!--
  <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body class="homepage-background">
  <header>
    <!-- ...your header content... -->
  </header>
  <main>

    <div class="search-form-container">
      <form id="search-form" class="search-form" action="/api/artist-search" method="GET">
        <input class="search-input" type="text" name="artistName" placeholder="Search...">
        <button class="search-button" type="submit">Search</button>
      </form>
    </div>
    <div class="search-container">
      <div class="login-create-account-link">
        {{#if logged_in}}
        <p><a href="/auth/profile">Profile</a></p>
        <p><a href="/auth/logout">Logout</a></p>
        {{/if}}
        {{#unless logged_in}}
        <p>Already have an account? <a href="/auth/login">Login</a></p>
        <p>Don't have an account? <a href="/auth/register">Create Account</a></p>
        {{/unless}}
      </div>

      <div>
        {{{body}}}
      </div>
    </div>
  </main>
  <footer>
    <!-- ...your footer content... -->
  </footer>
</body>

{{!-- <!-- add scripts -->
{{#if userLoggedIn}}
<script src="/js/logout.js"></script>
{{/if}} --}}
</html> 