<main class="homepage-background add-flex-center">
    <div class="profile-container centered-form">
        <div class="profile-content">
            <h1 class="text-center text-white mb-5">User Profile</h1>
            <div class="user-info mb-10">
                <h2 class="text-white text-2xl">Welcome, {{username}}!</h2>
                <p class="text-white">Email: {{email}}</p>
            </div>
            <div class="user-reviews">
                <h2 class="text-white text-2xl">Your Album Reviews</h2>
                <ul>
                    {{#each reviews}}
                    <li class="album-review">
                        <p class="text-white">Album: {{this.dataValues.user_id}}</p>
                        <p class="text-white">Review: {{this.dataValues.content}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <h2 class="text-white mb-10">Actions</h2>
                <button class="search-button text-white border-2 border-white hover:bg-blue-700 mt-5" id="logout"><a href="/api/users/logout">Logout</a></button>
            </div>
        </div>
    </div>
</main>