<h1>Albums</h1>
{{#each albums}}
  <div class="album-search-result">
    <h5>{{strAlbum}}</h5>
    <p>{{intYearReleased}}</p>
     <img style="width:200px" src="{{strAlbumThumb}}" alt="{{strAlbum}}">
  </div>
{{/each}}
